# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
env/
.venv/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Archivos del sistema
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs / Editores
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Salidas del proyecto
# =========================
outputs/